* {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    height: 150px
}

.container h1 {
    margin-bottom: 15px;
}

.display-time {
    font-size: xx-large;
    margin-bottom: 15px;
}

.control-box button {
    height: 35px;
    margin: 0px 5px;
    cursor: pointer;
    color: white;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

.control-box button:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
}

.control-box select {
    height: 35px;
    margin: 0px 5px;
    padding: 0px 10px;
}

.control-box input {
    height: 30px;
    text-align: center;
    margin: 0px 5px;
    width: 100px;
}

.btnSetTimer {
    background-color: black;
}

.btnStart {
    background-color: green;
}

.btnPause {
    background-color: orange;
}

.btnReset {
    background-color: red;
}